name: Java CI with Coverage Badge
on:
  pull_request:
    branches: [ '*' ]

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B verify --file pom.xml

      - name: Generate JaCoCo Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            Code coverage = ${{ steps.jacoco.outputs.coverage }}

      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v6
        with:
          name: jacoco-report
          path: target/site/jacoco/